{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NODA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    {% block header %}
    <div class="header">
        <div class="header__section">
            <div class="header__item headerlogo">
                <a href="{% url 'home' %}"><img src="{% static 'main/css/img/logo.png' %}" alt="Лого"></a>
            </div>
        </div>
        <div class="header__section">
            <div class="header__item headerButton">
                    <ul class="header-nav">
                        {% if user.is_authenticated %}
                        <li>{{ user.get_username }}</li>
                        <li><a href="{% url 'logout' %}?next={{request.path}}">Выйти</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}?next={{request.path}}">Войти</a></li>
                        <li><a href="{% url 'register' %}?next={{request.path}}">Зарегистрироваться</a></li>
                        {% endif %}
                    </ul>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <main>
        <div class="sidebar">
            <div class="sidebar__section">
                <div class="sidebar__item"><a href="#">Туториал</a></div>
                <div class="sidebar__item"><a href="{% url 'notes' %}">База Данных</a></div>
                <div class="sidebar__item"><a href="#">Мероприятия</a></div>
                <div class="sidebar__item"><a href="#">RIP</a></div>
            </div>
        </div>
    </main>
    <footer>
    <p class="description">Контакты: info@example.com</p>
    <p class="description">Дополнительная информация</p>
  </footer>
</body>
</html>