{% extends 'main/base_index.html' %}
{% block content %}
<div class="content">
    <span class="container-header">
        <h1>Гайд</h1>
    </span>
    <div class="containers">
        <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z9_ltWPQ4FY?si=oltjLfyWySfUlGIz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}