{% extends 'main/base_index.html' %}
{% load static %}
{% block content %}
<div class="content">
    <form action="post" class="guide">
    <span class="container-header">
            <h1 class="header-span">Что такое Т-МОДА?</h1>
        </span>
    <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z9_ltWPQ4FY?si=oltjLfyWySfUlGIz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="space"></div>
        <p>
            МОДА - метод, который помогает изучать и применять информацию на практике. Он
            используется для анализа и объединения информации на содержательном уровне. В
            основе МОДА лежит процесс анализа и синтеза информации, который помогает лучше
            понять и использовать данные.
        </p>
        <div class="space"></div>
        <p>
            Метод МОДА объединяет различные инструменты, которые успешно применялись и
            применяются в информационной практике. Цель метода - улучшить обработку и
            преобразование информации в информационных системах. Их взаимосвязанное
            использование и организация в единый метод позволяют достичь нового качества,
            перенося указанный процесс на уровень универсальных технологических операций с
            последовательностью их выполнения.
        </p>
        <div class="space"></div>
        <p>
            В информационной практике и научных исследованиях широко используется
            документальный анализ. Этот метод применяется для изучения больших потоков
            документов и общего описания объектов в определенных тематических направлениях.
            В науке используются различные методы - специализированные и общие. Они
            характеризуются большим количеством исследуемых объектов и небольшим
            количеством получаемых документов. Это относится к области системно-объектного
            анализа.
        </p>
        <div class="space"></div>
        <p>
            Между указанными сферами анализа логически выделяется специфическая
            информационная сфера объектно-документального анализа, которая в общем виде
            характеризуется ориентацией на анализ объектов так, что каждому объекту
            соответствует документ, где представлено описание объекта; при этом точное описание
            объекта всегда сопровождается ссылкой на первоисточник. Сфера
            объектно-документального анализа - это сфера преобразования об объектах,
            реализуемая традиционно в процессах реферирования, индексирования,
            систематизации и пересистематизации, подготовки справок и обзоров
        </p>
        <div class="space"></div>
        <p>
            Технология в сфере объектно-документального анализа еще не вышла на уровень
            унифицированных технологических операций, что приводит к значительной потере
            точности при информационном обеспечении пользователей.
        </p>
        <div class="space"></div>
        <p>
            Для устранения этого недостатка в МОДА интегрируются следующие основные
            компоненты:
        </p>
        <p>
            1. В информационной системе выделяем пользователя и информатора-аналитика.
            Пользователи принимают решения на разных уровнях управления и разработки. С
            другой стороны стоят информаторы-аналитики, которые в свою очередь предоставляют
            пользователям информацию для принятия решения и пр.
        </p>
        <div class="space"></div>
        <p>
            2. Информатор-аналитик работает с потоком информации. Для обеспечения хорошего
            качества работы с информацией, придерживаемся некоторых правил из инженерной
            психологии. Например, чтобы обработать информацию на должном уровне,
            информатор-аналитик должен контролировать не более 7±2 параметров на каждом
            этапе.
        </p>
        <div class="space"></div>
        <p>
            3. Любой научно-технологический текст на естественном языке рассматривается как
            совокупность трех типовых элементов: объектов (системы, устройства, страны и др.),
            связей между этими объектами и их характеристик.
        </p>
        <div class="space"></div>
        <p>
            4.<b>Структура НОПС:</b> (надобъекты - основной объект - подобъекты - связанные
            объекты) - это основной логический формат, который используется для представления
            информации в текстах, даже если они минимально связаны между собой. Эта
            структура является универсальным форматом, который выражает вопросы и ответы в
            терминах объектов и отношений между ними. Ответы на данные вопросы неизбежно
            ищет ответ специалист, готовящий и принимающий решения по любому вопросу (Что?
            Для чего? Благодаря чему? Что еще известно?).
        </p>
        <p>
        <img src="{% static 'main/css/img/nops.png' %}" alt="нопс-фильтр" class="guide">
        </p>
        <p>
            5. <b>Пересистематизация:</b> заключается в переводе объекта из одной системы связей и
            отношений в другую систему. При этом информатор получает тексты, которые уже
            имеют авторскую систематизацию с различной логикой изложения. Цель
            пересистематизации - сохранить полноту и точность представления информации при
            изменении системы связей и отношений. Эта операция находится между
            ориентированным на документы массивом (например, печатным материалом) и
            массивом информации, ориентированным на объекты, который соответствует запросу
            пользователя или решаемой задаче. Условное обозначение этой операции - Д О
            (документы переходят в объекты) и О Д (объекты переходят в документы).

        </p>
        <div class="space"></div>
        <p>
           6. Графовое представление текстов для более эффективного сжатия информации.
           При объединении данных компонентов в структуры информационной системы
           стремимся сохранить высокое качество работы. Основная цель заключается в
           оптимизации существующих структур и процессов, а не в создании новых. МОДА не
           противоречит другим методам анализа и обобщения информации, а помогает
           обеспечить полные и точные данные для специального анализа.
        </p>
        <div class="space"></div>
        <h3>Алгоритм преобразования информации по Т-МОДА.</h3>
        <div class="space"></div>
        <p>
            Преобразование информации по Т-МОДА делится на три основных этапа: подготовка
            текста, разделение текста по НОПС структуре и построение ОДС. Рассмотрим каждый
            этап подробнее.
        </p>
        <div class="space"></div>
        <p>
            <b>Этап 1 (начальный):</b> На данном этапе происходит первоначальная
            подготовка/обработка текста. Исследователь выделяет основные блоки текста где по
            его мнению содержатся структурные элементы НОПС (см. табл). Блоки могут быть
            различных размеров, от предложения до целого абзаца. Из полученной выжимки
            составляется отдельный документ (реферат), где и указываются данные элементы
        </p>
        <div class="space"></div>
        <p>
            <b>Этап 2 (основной):</b> На данном этапе происходит работа уже с полученным сжатым
            рефератом. На основе данного реферата исследователь должен четко выделить все
            структурные элементы (см. табл)
        </p>
        <div class="space"></div>
        <p>
            <b>Этап 3 (заключительный):</b> После выделения всех элементов строиться ОДС, в
            которой можно проследить взаимосвязи всех элементов.
        </p>
        <div class="space"></div>
        <i>Т-МОДА - технология метод объектно документального анализа.</i>
        <i>НОПС структура - Над объект, Объект, Подобъект, Связанный объект.</i>
        <i>ОДС - Объектно документальная схем.</i>

    </form>
</div>
{% endblock %}