{% extends 'main/base_index.html' %}
{% load static %}
{% block content %}
<div class="content">
    <span class="container-header">
        <h1>База данных "МОДА"</h1>
        <a class="button" href="{% url 'validate' %}">Отправить на проверку текст</a>
        <div class="space"></div>
        <h1>Выбирите категорию</h1>
        <a class="button" href="#soc">Социальные науки</a>
        <a class="button" href="#gum">Гуманитарные науки</a>
        <a class="button" href="#est">Естественные и точные науки</a>
        <div class="space"></div>
        <a class="button" href="#med">Медицинские науки</a>
        <a class="button" href="#tech">Технологии и техника</a>
        <a class="button" href="#selhoz">Сельскохозяйственные науки</a>
    </span>
    <div class="containers">

        {% if soc %}
        <div class="container">
            <h2 id="soc">Социальные науки</h2>
            <div class="cards">
                {% for el in soc %}
                {% if el.state_status == 'approve' %}
                <a href="{{el.doc_file.url}}" target="_blank">
                    <div class="card">
                        <img src="{% static 'main/css/img/doc.png' %}" alt="file">
                        <h4 class="card-title">{{el.doc_name}}</h4>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if gum %}
        <div class="container">
            <h2 id="gum">Гуманитарные науки/h2>
            <div class="cards">
                {% for el in gum %}
                {% if el.state_status == 'approve' %}
                <a href="{{el.doc_file.url}}" target="_blank">
                    <div class="card">
                        <img src="{% static 'main/css/img/doc.png' %}" alt="file">
                        <h4 class="card-title">{{el.doc_name}}</h4>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if est %}
        <div class="container">
            <h2 id="est">Естественные и точные науки</h2>
            <div class="cards">
                {% for el in est %}
                {% if el.state_status == 'approve' %}
                <a href="{{el.doc_file.url}}" target="_blank">
                    <div class="card">
                        <img src="{% static 'main/css/img/doc.png' %}" alt="file">
                        <h4 class="card-title">{{el.doc_name}}</h4>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if med %}
        <div class="container">
            <h2 id="med">Медицинские науки</h2>
            <div class="cards">
                {% for el in med %}
                {% if el.state_status == 'approve' %}
                <a href="{{el.doc_file.url}}" target="_blank">
                    <div class="card">
                        <img src="{% static 'main/css/img/doc.png' %}" alt="file">
                        <h4 class="card-title">{{el.doc_name}}</h4>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if tech %}
        <div class="container">
            <h2 id="tech">Технологии и техника</h2>
            <div class="cards">
                {% for el in tech %}
                {% if el.state_status == 'approve' %}
                <a href="{{el.doc_file.url}}" target="_blank">
                    <div class="card">
                        <img src="{% static 'main/css/img/doc.png' %}" alt="file">
                        <h4 class="card-title">{{el.doc_name}}</h4>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if selhoz %}
        <div class="container">
            <h2 id="selhoz">Сельскохозяйственные науки</h2>
            <div class="cards">
                {% for el in selhoz %}
                {% if el.state_status == 'approve' %}
                <a href="{{el.doc_file.url}}" target="_blank">
                    <div class="card">
                        <img src="{% static 'main/css/img/doc.png' %}" alt="file">
                        <h4 class="card-title">{{el.doc_name}}</h4>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
{% endblock %}


