{% extends 'main/base_index.html' %}
{% block content %}

    <form method="POST" enctype="multipart/form-data">
        <h2>Отправить файл на проверку</h2>
        {% csrf_token %}
        {% for f in form %}

            <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
            <div class="form-error">{{ f.errors }}</div>

        {% endfor %}
            <div class="space"></div>
            <button type="submit">Загрузка</button>

    </form>

{% endblock %}