:root {
    --dark: #16161a;
    --gray: #87868d;
    --accent: #d69b8f;
    --dark_accent: #bd887e;
    --coaccent: #B98B82;
}

:root::-webkit-scrollbar {
    width: 10px;
}
:root::-webkit-scrollbar-thumb { /* плашка-бегунок */
    background: var(--gray);
    border-radius: 7px;
}

.card-title::-webkit-scrollbar {
    width: 5px;
}
.card-title::-webkit-scrollbar-thumb { /* плашка-бегунок */
    background: var(--gray);
    border-radius: 7px;
}

.card-title:hover::-webkit-scrollbar-thumb { /* плашка-бегунок */
  background: white;
}

/* :root {
    --dark: #1F0812;
    --gray: #37515f;
    --accent: #F3B3A6;
    --coaccent: #B98B82;
} */


* {
	margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    margin-bottom: 2rem;
}

a, p, li, label {
	color: var(--dark);
	text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.space {
    height: 30px;
}

.header {
	display: flex;
	justify-content: space-between;
	background: var(--dark);
	color: #fff;
    height: 10vh;
    padding: 0 4vw;
}

.header__item {
	font-size: 25px;
	color: #66FCF1
}

.header__section {
	display: flex;
	align-items: center;
}

.header-nav {
    display: flex;
}

.header-nav * {
    margin: 10px;
    color: white;
}

.header-nav a {
    padding: 8px 30px;
    /* background-color: #FF9900; */
    background-color: var(--accent);
    border-radius: 7px;
}

.header-nav a:hover {
    background-color: var(--dark_accent);
}

.headerButton a {
	color: #66FCF1;
}

.headerlogo img {
	width: 70px;
	height: 70px;
}


main {
    display: flex;
}

.sidebar {
    min-height: 83vh;
    width: 14vw;
    border-right: 1px solid #D7DBDD;
    background-color: var(--gray);
}

.sidebar a {
	color: #0B0C10;
    font-family: 'Montserrat', sans-serif;
}

.sidebar__section {
    position: sticky;
    top: 0;
}

.sidebar__item {
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 0 10px 25px;
    margin: 5px 0;
    border-radius: 7px;
}

.sidebar__item:hover {
	background-color: #EEF3F5;
    color: black;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background-color: #1F2833; */
    background-color: var(--dark);
    height: 7vh;
    align-items: center;
}

.description {
	color: #FFFFFF;
	padding: 10px 50px;
}

.btn a {
	color: var(--dark);
}

.form-error {
	color: #FFA07A;
}

body {
    overflow-x: hidden;
	font-size: 17px;
	line-height: 1.4;
}

* {
	transition-property: background-color, border-column, box-shadow, color, opacity, text-shadow, transform;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.content {
	margin: 4vw;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 100px;
    flex-direction: column;
    align-items: flex-start;
}

.container {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 30px;
	/* background: #45A29E; */
	color: #1F2833;
	text-decoration: none;

}

@media (max-width: 600px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 700px) {
	.container {
		max-width: 100%;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}


.cards {
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    margin: 20px 30px 0 0;
    border: 2px solid var(--accent);
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 170px;
}

.card:hover {
    color: white;
    background-color: var(--accent);
}

.card img {
    width: 30%;
    margin-bottom: 20px;
}

.card-title {
    inline-size: 220px;
    overflow: auto;

}


@media (max-width: 600px) {
	.card {
		width: 100%;
	}
}
/* 
@media (min-width: 700px) {
	.card {
		max-width: 150px;
		max-height: 100px;
		float: center;
		margin-bottom: 20px;
	}
} */

.card span {
	display: block;
}

.card .card-header h3 {
	color: #FF9900;
	text-transform: uppercase;
	width: 100%;
}

.card .card-header h3 {
	font-size: 1.2em;
	line-height: 1.2;
	padding: 0 3.5%;
	margin: 0;
}