a {
    color: #000;

}
* {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background:  #0B0C10;
    color: #fff;
}
.header__item {
    padding: 10px 15px;
    font-size: 25px;
    margin-left: 5px;
    color: #66FCF1
}
.header__item:hover{
    background-color: #FF9900;
    border-radius: 4px;
}
.header__section {
    display: flex;
    align-items: center;
}
.headerButton a{
    color: #66FCF1;
}
.headerlogo img {
    width: 70px;
    height: 70px;
}


.sidebar {
    display: flex;
    flex-decoration: column;
    justify-content: space-between;
    height: 630px;
    width: 200px;
    border-right: 1px solid #D7DBDD;
    background-color: #45A29E;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.sidebar a{
    color: #0B0C10;
}
.sidebar__item {
    cursor: pointer;
    padding: 20px 35px;
    font-size: 20px;

}
.sidebar__item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2833;
    height: 50px;
    bottom: 0;
    padding-bottom: 20px;
}
.description {
    color: #FFFFFF;
    padding: 10px 50px;
}

.btn a{
    color: #000000;
}