* {
	margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    margin-bottom: 4rem;
}

a, p, li, label {
	color: #000;
	text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.space {
    height: 30px;
}

.header {
	display: flex;
	justify-content: space-between;
	background: #0B0C10;
	color: #fff;
    height: 10vh;
    padding: 0 4vw;
}

.header__item {
	font-size: 25px;
	color: #66FCF1
}

.header__section {
	display: flex;
	align-items: center;
}

.header-nav {
    display: flex;
}

.header-nav * {
    margin: 10px;
    color: white;
}

.header-nav a {
    padding: 8px 30px;
    background-color: #FF9900;
    border-radius: 7px;
}

.headerButton a {
	color: #66FCF1;
}

.headerlogo img {
	width: 70px;
	height: 70px;
}


main {
    display: flex;
}

.sidebar {
    height: 83vh;
    width: 12vw;
    border-right: 1px solid #D7DBDD;
    background-color: #45A29E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar a {
	color: #0B0C10;
}

.sidebar__section {
    width: 80%;
}

.sidebar__item {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 0 10px 25px;
    margin: 5px 0;
    border-radius: 7px;
    color: white;
}

.sidebar__item:hover {
	background-color: #EEF3F5;
    color: black;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #1F2833;
    height: 7vh;
    align-items: center;
}

.description {
	color: #FFFFFF;
	padding: 10px 50px;
}

.btn a {
	color: #000000;
}

.form-error {
	color: #FFA07A;
}


.card img {
	float: center;
	max-width: 60%;
}

body {
	font-size: 17px;
	line-height: 1.4;
}

* {
	transition-property: background-color, border-column, box-shadow, color, opacity, text-shadow, transform;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.content {
	margin: 4vw;
}

.containers {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* padding: 1.5%; */
	box-sizing: border-box;
	margin-top: 15px;
}

.container {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 30px;
	background: #45A29E;
	color: #1F2833;
	text-decoration: none;

}

@media (max-width: 600px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 700px) {
	.container {
		max-width: 100%;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}


.cards {
	margin: 0 -10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
	/* padding: 1.5%; */
	box-sizing: border-box;
}

.card {
	margin: 0 20px;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 30px;
}

@media (max-width: 600px) {
	.card {
		width: 100%;
	}
}

@media (min-width: 700px) {
	.card {
		max-width: 150px;
		max-height: 100px;
		float: center;
		margin-bottom: 20px;
	}
}

.card span {
	display: block;
}

.card .card-header h3 {
	color: #FF9900;
	text-transform: uppercase;
	width: 100%;
}

.card .card-header h3 {
	font-size: 1.2em;
	line-height: 1.2;
	padding: 0 3.5%;
	margin: 0;
}